CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build

# VS-CODE FILES

.vscode

# BISON FILES

source/compiler/parser/location.hh
source/compiler/parser/parser.hpp
source/compiler/parser/parser.cpp
source/compiler/parser/parser.output

# FLEX FILES

source/compiler/parser/scanner.cpp

# TEST FILES

llvm_tree.cpp


