CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build

# VS-CODE FILES

.vscode


# BISON FILES

src/parser/location.hh
src/parser/parser.hh
src/parser/parser.cpp


# FLEX FILES

src/scanner/scanner.cpp

